_target_: src.model.VAELightningModule.VAELightningModule


defaults:
  - architecture: architecture.yaml
  - loss_calculator: loss_calculator.yaml
  - optimizer: optimizer.yaml
  - scheduler: scheduler.yaml



scheduler_interval: step
scheduler_frequency: 1

# Logging
log_audio_every_n_epochs: 5
sample_rate: ${datamodule.sample_rate}
num_audio_samples: 2

# Adversarial training
use_adversarial: false
discriminator_lr: 1e-4
discriminator_update_every: 1
generator_update_every: 1
